minishell
build
lib/libft/build
lib/libft/libft.a
lib/readline-8.1/*.o
lib/readline-8.1/shlib/*.so
lib/readline-8.1/shlib/*.dylib
lib/readline-8.1/*.a
lib/readline-8.1/*.a
lib/readline
lib/readline/**