minishell
build
lib/libft/build
lib/libft/libft.a
lib/readline/*.o
lib/readline/shlib/*.so
lib/readline/shlib/*.dylib
lib/readline/*.a
lib/readline-master/*.o
lib/readline-master/shlib/*.so
lib/readline-master/shlib/*.dylib
lib/readline-master/*.a
lib/rl
lib/rl/**