minishell
minishell_old
build
lib/libft/build
lib/libft/libft.a
lib/printf/build
lib/printf/libftprintf.a
lib/readline-8.1/*.o
lib/readline-8.1/shlib/*.so
lib/readline-8.1/shlib/*.dylib
lib/readline-8.1/*.a
lib/readline-8.1/*.a
lib/readline
lib/readline/**
lib/readline-8.1/Makefile
lib/readline-8.1/config.log
lib/readline-8.1/config.status
lib/readline-8.1/doc/Makefile
lib/readline-8.1/examples/Makefile
lib/readline-8.1/readline.pc
lib/readline-8.1/shlib/Makefile
lib/readline-8.1/shlib/libhistory.so.8.1
lib/readline-8.1/config.h
lib/readline-8.1/shlib/libreadline.so.8.1
